<!doctype html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>住院 | 管理系统登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min2.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link th:href="@{/css/css.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style3.css}">
</head>

<body class="modal-backdrop">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-layout3" data-bg-image="img/figure/bg3-l.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 fxt-none-991">
                    <div class="fxt-header">
                        <div class="fxt-transformY-50 fxt-transition-delay-1">
                            <a href="" class="fxt-logo"><img th:src="@{/picture/logo-3.png}" alt="Logo"></a>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                            <h1 id="text">
                                {{msg}}
                            </h1>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-3">
                            <p id="text1">
                                {{msg}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 fxt-bg-color">
                    <div class="fxt-content">
                        <div class="fxt-form">
                            <h2>X-住院部</h2>
                            <p class="mb-5">住院系统管理</p>
                            <form method="POST">
                                <div class="form-group">
                                    <label for="username" class="input-label">用户名</label>
                                    <input type="text" id="username" class="form-control" name="username"
                                           placeholder="用户名" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="input-label">新密码</label>
                                    <input id="password" type="password" class="form-control" name="password"
                                           placeholder="新密码" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="fxt-btn-fill">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript">
    Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

    //创建Vue实例
    new Vue({
        el:'#text', //el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符串。
        data:{ //data中用于存储数据，数据供el所指定的容器去使用，值我们暂时先写成一个对象。
            msg:'工作制度'
        }
    });
    new Vue({
        el:'#text1',
        data:{
            msg:'1、出入院病员统由住院处办理手续。根据病情，合理收住病员。病房无空床不得预办住院手续。病房不得擅自收住病员。急诊室不得开具慢性病员住院证。\n' +
                '2、各病区可保持1—2张急诊床位。\n' +
                '3、住院处应每日与病区联系，了解病床使用及周转情况。\n' +
                '4、热情接待入院病员，核对入院证件。对当日可以入院的病员，应详细登记住院卡片及病历首页。对一时不能入院的病员要耐心解释，请其等床住院。\n' +
                '5、对外省、市来住院者，需经省、市卫生厅、局介绍，并事先和本地卫生行政部门联系，经同意后安排入院。不符合上述手续的，一般不予接待。\n' +
                '6、病员办理出院手续，一般于出院前一日由病区将住院医嘱全部送至住院处进行核算，开具帐单。病员或家属来住院处结清后，将帐单交其拿回病区办理出院手续。\n' +
                '7、热主动配合各病房搞好收费管理，建立病员分户帐页，不断健全病人费用催收制度，尽量减少欠费。\n' +
                '8、各科收费单据应准确及时统计，避免漏费发生，严格遵守现金管理制度，各种资料、报表及时上报。\n' +
                '9、负责病人出院费用结算。病人出院由主管医师决定，住院结帐处凭电脑中显示的签发预出院名单办理病员出院手续。'
        }
    })
</script>
</body>

</html>