# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\19级Java2班项目分配-20220607\hospital-springboot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
